 /*  background image */
form::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: url('../img/amazon-04.jpg')no-repeat center center/cover;
    z-index: -1;
    opacity: 0.9;
}
/* form */
form{
    padding: 18px;
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: auto;
    gap: 6px;
    box-shadow: 17px 18px 13px rgb(143, 142, 142);
    border-radius: 11px;
    border: 2px solid rgb(249, 245, 245);
    margin-top: 57px;
    background-color: transparent;
    
}
 
form h2{
    text-align: center;
    text-shadow: 0 0 3px #edf0ec, 0 0 5px #fbfbff;
    color: rgb(255, 255, 255);
}
form .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
form .btn input{
     
    width:110px;
   /* background-color:rgb(190, 153, 228); */
box-shadow: 2px 2px 7px white;
     background-color: transparent;
     cursor: pointer;
     

}
form .btn input:hover{
     background-color:#FFC107;
}
form input{
    text-align: center;
    padding: 15px;
    margin: 5px;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    font-size: 25px;
    border: 2px solid white;
}
form hr{
    border: 1px solid rgb(232, 221, 221);
}
 /* utility class */
*{
    margin: 0px;
    padding: 0px;
}
::placeholder {
    color: rgb(249, 245, 245);
    opacity: 1; 
}
  
/* this is for form */
@media (max-width:500px) {
    form{
        width: 75%;
         
    }
     
}
