 /* product   */
.product {
    background: #e0e0e0;
    padding: 30px;
}

.product h2 {
    padding: 10px;
    font-size: 1.5em;
}

/* main container */
.main-container {
    display: flex;
}

/* images container */
.main-container .image-container {
    width: 50%;
}

.main-container .image-container img {
    border-radius: 20px;
    width: 100%;
}

/* description  */
.product .main-container .description-container {
    padding: 25px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.product .main-container .description-container .list-container ul {
    padding-left: 30px;
}

.product .main-container .description-container .list-container li {
    color: rgb(38 27 27 / 85%);
    font-size: 15px;
}

.product .main-container .description-container .list-container .btn {

    margin-top: 20px;
    display: flex;
    gap: 2px;
}

.product .main-container .description-container .list-container h4 {
    font-size: 18px;
}

.product .main-container .description-container .list-container .btn button {
    background-color: #ffa41c;
    width: 50%;
    color: white;
    padding: 8px;
    border-radius: 10px;
}

.product .main-container .description-container .list-container .btn button:hover {
    background: transparent;
    border: 2px solid #ffa41c;
    color: #ffa41c;
    ;
}

/* utility class */
* {
    padding: 0px;
    margin: 0px;
}

/*Responsive */
@media (max-width:1000px) {
    .main-container {
        flex-direction: column;
    }

    .main-container .image-container {
        width: 100%;
    }

    .product .main-container .description-container {
        width: 100%;
    }
}
