/* reset */
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Alkatra', cursive;

    box-sizing: border-box;

    transition: all 0.45s ease-in 0s;
}

/* navigation */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
    padding: 0px 50px;
    flex-wrap: wrap;
}

/* navigation before */
.navigation::before {
    content: "";
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
   

}

/* amazon image container */
.Imgcontainer {
    display: inline-block;
    padding: 0px 5px;
    top: 2px;
}

.navigation .Imgcontainer img {
    height: 37px;
    width: 130px;
    margin-top: 9px;
}

/* search-box */
 .search{
    width: 330px;
    border: 2px solid white;
    padding: 3px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .search:hover{
    width: 450px;
    
 }
 .search a{
    text-decoration: none;
 }
 .search input{
    width: 290px;
    border: 0px;
    outline: 0px;
    font-size: 15px;
    border-radius: 4px;
 }
 .search a i{
     color: black;
     display: flex;
     align-items: center;
     justify-content: center;
 
 }
   .search:hover input[type="text"]{
    width:  410px;
 }

/* cart  */
.cartImg {
    filter: invert(100%);
    height: 43px;
    width: 43px;
    cursor: pointer;
    display: inline-block;
}

.cartcontainer p {
    display: inline;
    filter: invert(100%);
}

.cartcontainer {
    display: inline-flex;
    align-items: center;
    margin-right: 19px;
}
/* section1 */
.section1{
    width: 100%;
    height: auto;
     display: flex;
     background: url("../img/amazonBg.jpg")no-repeat center center/cover;
     
}
.section1-container{
    margin-top: 300px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.section1 .section1-container .item{
    width: 100%;
    background-color: rgb(241, 241, 241);
    padding: 20px;
}
.section1 .section1-container .item img{
    width: 100%;
    height: auto;
    margin-top: 15px;
}
.section1 .section1-container .item  p{
    color: rgb(39 148 152);
}
 
/* section1 sign in button  */
.section1 .section1-container .item .SignIn{
    width: 100%;
    margin-top: 10px;
    padding:  8px;
    background: #f6b55396;
    border-radius: 8px;
}
.section1 .section1-container .item .SignIn:hover{    
    background: #ff990096;
}
.section1 .section1-container .item button a{
    text-decoration: none;
    color: black;
     
}

/* section2 - technology and groceries*/
 .section2{
    margin: 20px;
    padding: 20px;
    background-color: white;
 }
 .section2 .section2-container h3{
    margin-bottom: 10px;
 }
 .technology{
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
 }
 .technology .item{
     width: 300px !important;
    display: inline-block;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    
 }
 .technology .item img{
     height: auto;
     width: auto;
     max-width: 270px;
     max-height: 200px;
    
 }
 /* section3 */
 .section3{
    background-color: white;
    padding: 20px;
 }
 .section3 .history{
    display: flex;
    justify-content: center;
    gap: 7px;
 }

 
 .section3 .history .card{
    display: flex;  
    flex-direction: column;
    gap: 5px;
    overflow:auto;
    padding: 5px;
 }
 
 .section3 .history .card img{
     height: 210px;
     width: 100%;
    }
    .section3 .history .card a{
        font-size: 15px;
        text-decoration: none;
        color: rgb(39 148 152);
    }
    
    .section3 .history .card a:hover{
     color: rgb(249 114 23 / 69%);
    }
    
    .section3 .history .card p{
       font-size: 10px;
    }
    /* section4 */
    #section4 .section4-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 165px;
    }
    #section4 .section4-container button{
         width: 24%;
         background-color:   #f6b55396;
         padding: 6px;
         border-radius: 5px;
         cursor: pointer;
    }
    #section4 .section4-container button:hover{
        
        background-color:  #ff990096;  
    }
    #section4 .section4-container button a{
           text-decoration: none;
           color: black;
    }
    /* footer */
    footer{
        padding: 15px;
        border: 2px solid black;
        text-align: center;
        background-color: black;
        z-index: -1;
        justify-content: center;
    }
    footer p{
        color: white;
    }
 /* utility classes */
 body{
    background-color:rgb(220 220 220 / 52%);
 }
